.app-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Улучшено для лучшего центрирования контента */
}

/* Стили для заднего фона попапа, затемняющего основное содержимое */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Убедитесь, что этот z-index выше любого другого элемента страницы */
}

/* Стили для контейнера попапа редактирования задач */
.edit-task-popup {
  position: absolute; /* Это позволяет более гибко управлять внутренним позиционированием */
  width: 90%; /* Адаптивная ширина, максимально 400px */
  max-width: 400px;
  background-color: black;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1051; /* Убедитесь, что попап находится над overlay */
  border-radius: 8px; /* Небольшое закругление углов для эстетики */
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px; /* Увеличение размера заголовка для улучшения видимости */
}

.popup-header button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  color: #cac7c7; /* Цвет иконки закрытия */
}

.popup-body {
  margin-top: 15px;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type="text"], input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc; /* Добавление границы для улучшения видимости поля ввода */
}

.popup-footer {
  padding: 10px 15px;
  border: none;
  background-color: #686969;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Добавление закругления углов кнопок */
}

.popup-footer button:hover {
  background-color: #0056b3;
}



input[type="text"], input[type="time"], input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.task-container {
  padding: 30px;
  border-bottom: 1px solid white; /* белая линия под каждой задачей */
  margin-bottom: 10px; /* отступ для визуального разделения задач */
}

.task-details {
  display: flex;
  gap: 16vh;
  margin-bottom: 20px;
}

.task-duration {
  color: blue; /* синий цвет для времени выполнения */
  font-weight: bold; /* жирное начертание для лучшей видимости */
}

.task-controls button {
  margin-left: 100px;
}

.today-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-actions button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.load-more-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.load-more-container button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.footer-controls {
  display: flex;
}

.footer-controls button {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  align-items: center;
}
